<app-navbar></app-navbar>
<h4 style="text-align: center;">Create Policy</h4>
<notifier-container style="position: fixed; bottom: 100px; right: 30px"></notifier-container>
<div class="container-fluid">
    <div class="row">
        <div class="wrapper">
            <div class="tabs">
              <div class="tab">
                <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                <label for="tab-1" class="tab-label">Enter Policy Details</label>
                <div class="tab-content">
        <div class="col-sm-8">
            <form #createcbForm="ngForm" id="createform">
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="cId">Consumer ID : </label>
                    </div>
                    <div class="col-auto">
                    <input type="text" required pattern="[C]{1}[0-9]{2}" #cId="ngModel" [class.is-invalid]="cId.touched && cId.invalid" class="form-control" name="cId" [(ngModel)]="cb.consumerId" (click)="onClick()" placeholder="Consumer ID"/>
                    </div>
                    <div class="col-auto">
                        <small [class.d-none]="cId.valid || cId.untouched" class="text-danger">Consumer ID is required & should be like C01-C09</small>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="bId">Business ID : </label>
                    </div>
                    <div class="col-auto">
                        <input type="text" required pattern="[B]{1}[0-9]{2}" #bId="ngModel" [class.is-invalid]="bId.touched && bId.invalid" class="form-control" name="bId" [(ngModel)]="cb.businessId" (click)="onClick()" placeholder="Business ID"/>
                    </div>
                    <div class="col-auto">
                        <small [class.d-none]="bId.valid || bId.untouched" class="text-danger">Business ID is Required & should be like B01-B09</small>
                    </div>
                </div>
                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="pId">Property ID : </label>
                    </div>
                    <div class="col-auto">
                        <input type="text" required pattern="[P]{1}[0-9]{2}" #pId="ngModel" [class.is-invalid]="pId.touched && pId.invalid" class="form-control" name="pId" [(ngModel)]="cb.propertyId" (click)="onClick()" placeholder="Property ID"/>
                    </div>
                    <div class="col-auto">
                        <small [class.d-none]="pId.valid || pId.untouched" class="text-danger">Property ID is Required * should be like P01-P09</small>
                    </div>
                </div>

                <div class="row g-3 align-items-center">
                    <div class="col-auto">
                        <label for="aQuotes">Accepted Quotes: </label>
                    </div>
                    <div class="col-auto">
                        <input type="text" required min="4" max="20" #aQuotes="ngModel" [class.is-invalid]="aQuotes.touched && aQuotes.invalid" class="form-control" name="aQuotes" [(ngModel)]="cb.acceptedQuotes" (click)="onClick()" placeholder="Accepted Quotes"/>
                    </div>
                    <div class="col-auto">
                        <small [class.d-none]="aQuotes.valid || aQuotes.untouched" class="text-danger">Accepted Quotes must be 4-20 characters long</small>
                    </div>
                </div>
                <button [disabled]="createcbForm.form.invalid" (click)="CreatePolicy()" type="submit">Create Policy</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <p class="text-danger m-2">{{errorMessage}}</p>
</div>
</div>
</div>
<a href="/"><button class="btn btn-primary"> Go To Homepage </button></a>
