<app-navbar></app-navbar>
<app-navbar></app-navbar>
<body>
<div class="card card-1" routerLink="/createcb">
    
    <div >
      <p> Create Consumer Business</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/updatecb">
   
    <div>
      <p> Update Consumer Business</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/consumer">
   
    <div >
      <p>View Consumer Business</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/createbp">
   
    <div >
      <p>Create Business Property</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/updatebp">
    
    <div >
      <p> Update Business Property</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/viewcp">
   
    <div >
      <p>View Consumer Property</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/createpol">
    
    <div >
      <p> Create Policy</p>
    </div>
  </div>
  <div class="card card-1" routerLink="/issuepol">
    <!-- quotes -->
    
    <div >
      <p>Issue Policy</p>
    </div>
  </div>
  
  <div class="card card-1" routerLink="/policy">
    
    <div >
      <p >View Policy</p>
    </div>
  </div>
 
</body>